html {
    box-sizing: border-box;
}
 
body{
    font: Helvetica;
    height: 100vh;
    margin: 0;
    background: white;
}
 
@font-face{
    font-family: "nexa-bold";
    src: url(./fonts/nexa-bold.ttf);
}


.mainnav {
    color: #ffe1a8;
    font-family: nexa-bold;
    font-size: 2rem;
}
 
.navbar {
    background: Firebrick;
}
 
.footer {
    background: Firebrick;
}
 
.footer .content {
    margin-left: 20px;
}
 
.carousel .carousel-item>img {
    width: 350%;
    height: 140%; 
    margin-left: -125%;
}
 
.Mainlogo {
    margin-top: 5px;
    width: 190px;
}
 
.Signin {
    top: 10px;
    width: 40px;
}
 
.dropdown-content {
    top: -60px;
    min-width: 180px;
    color: black;
    position: right;
}
 
.dropdown-trigger .btn {
    right: 0px;
}
 
.input-field {
    left: -400%;
    width: 180%;
}
 
.input-field input[type=search]{ height: 64px !important; }
 
.products {
    margin-top: 50px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
 
.products li{
    list-style-type: none;
    flex: 0 17.5rem;
    padding: 0;
    margin: 1rem;
    height: 33rem;
    border-bottom: .1rem #c0c0 solid;
}
 
.product {
    display: flex;
    margin-left: 30px;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
 
.product-name a{
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}



 
.product-name a:hover{
    color: firebrick;
}
 
.product-brand {
    font-size: 1rem;
    color: black;
}
 
.product-price {
    font-size: 1.2rem;
    font-weight: bold;
}
 
.product-image {
    max-width: 25rem;
    max-height: 25rem;
    width: 300px;
    height: 300px;
}
 

 
.details {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
 
.details-image {
    margin-left: 100px;
    flex: 2 1 50rem;
}
 
.details-image img{
    max-width: 50rem;
}
 
.details-info {
    margin: 0;
    margin-right: 0px;
    flex: 1 1 40rem;
}
 
.details-description {
    list-style-type: none;
    margin-left: 100px;
    margin-bottom: 2rem;
}
 
.details-info .quantity-selector{
    padding: 7px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 120px;
    color: white;
    background-color: Firebrick;
    border: .1rem black solid;
    border-radius: .4rem;
    cursor: pointer;
}

.products .quantity-selector{
    padding: 7px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5rem;
    width: 100%;
    color: white;
    background-color: Firebrick;
    border: .1rem black solid;
    border-radius: .4rem;
    cursor: pointer;
}
 
.details-info li{
    margin-bottom: 1rem;
}
 
.signin {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 80px;
    margin-bottom: 80px;
    background: white;
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    border: .1rem black solid;
}
 
.enter {
    border: .1rem black solid;
}
 
.join {
    padding: 7px;
    /*margin-left: auto;*/
    margin-right: auto;
    margin-left: 38%;
    color: white;
    background-color:Firebrick;
    border: .1rem black solid;
    border-radius: .4rem;
    cursor: pointer;
    width: 120px;
    font-family: nexa-bold;
}
 
.join1 {
    padding: 7px;
    margin-left: 41%;
    color: white;
    background-color: Firebrick;
    border: .1rem black solid;
    border-radius: .4rem;
    cursor: pointer;
    width: 120px;
}
 
.signin h6{
    margin-bottom: 20px;
    margin-left: 32%;
}
 
.cart-items {
    margin-left: 1%;
    margin-top: 25px;
    font-family: nexa-bold;
    text-align: center;
}
 
.cart-details {
    margin-left: 4%;
    max-width: 90%;
    margin-top: 80px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
 
.cart-details li{
    list-style-type: none;
    height: 30rem;
}
 
.cart-product {
    display: flex;
    margin-left: 40px;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 1rem;
}
 
.cart-product button{
    margin-top: 2px;
    margin-bottom: 10px;
    padding: 4px;
    color: white;
    background-color: Firebrick;
    border: .1rem black solid;
    border-radius: .4rem;
    cursor: pointer;
}
 
.cart-checkout {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 80px;
    margin-bottom: 80px;
    background: grey;
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    border: .1rem black solid;
}
 
.cart-checkout a{
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 40%;
    padding: 7px;
    color: white;
    text-decoration: none;
    background-color: Firebrick;
    border: .1rem black solid;
    border-radius: .4rem;
    cursor: pointer;
    width: 150px;
}
 
.cart-checkout .done {
    margin-left: 35%;
}
 
.cart-checkout .done1 {
    margin-left: 23%;
}
 
.cart-checkout .done2 {
    margin-left: 28%;
}
 
.message {
    margin-right: 15%;
}
 
.cart-number {
    background: Firebrick;
    color: white;
}
 
.details-info .option {
    width: 40px;
}
 
.comments {
    width: 50%;
    background: #E3E2DF;
    padding: 15px;
    border: .1rem solid black;
    margin-top: 1rem;
}
 
.comments td{
    border: 1px solid #E3E2DF;
}
 
.comment-rating {
    background: firebrick;
    color: white;
    margin-right: 10px;
    padding: 7px;
    width: 40px;
    border: .1rem black solid;
    border-radius: .4rem;
    cursor: pointer;
}

.history-table {
    width: 100%;
}
 
.history-name a{
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    width:60%;
}
 
.history-name {
    margin-left: 55%;
}
 
.history-price {
    margin-right: 0%;
}
 
.history-table td{
    border: 1px solid white;
    width: 60%;
}
 
.history-date{
    margin-left: 15%;
}
 
.history-value{
    margin-top: 20px;
    margin-left: 20%;
}
 
hr {
    margin-top: 60px;
    width: 80%;
}

.iproducts {
    width: 80%;
    margin-left: 10%;
}
 
.iproducts td{
    border: 1px solid white;
}
 
.iproducts-info tr{
    height: 30px;
    border: 1px solid white;
}

.quantity-selector{
    padding: 7px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 120px;
    color: white;
    background-color: Firebrick;
    border: .1rem black solid;
    border-radius: .4rem;
    cursor: pointer;
}

.search-home {
    margin-top: 12px;

    position: absolute;

}

.search-icon-home {
    margin-top: 20px;


}

.search-icon-home input {
    text-indent: 40px;
}

.product-title {
    font-family: nexa-bold;
}

.footer-logo {
    width: 260px;

}