.carousel3 .carousel .carousel-item>img {
    width: 100%;
    height: 80%; 
    margin-left: 10%;
}

.carousel2 .carousel .carousel-item>img {
    width: 100%;
    height: 80%; 
    margin-left: 10%;
}

.carousel1 .carousel .carousel-item>img {
    width: 100%;
    height: 80%; 
    margin-left: 10%;
}

.carousel .carousel-item>img {
    width: 350%;
    height: 140%; 
    margin-left: -125%;
}

.Mainlogo {
    margin-left: 10px;
    width: 100px;
    padding: 7px;
}

.Signin {
    top: 10px;
    width: 40px;
}

.dropdown-content {
    top: -60px;
    min-width: 180px;
    color: black;
    position: right;
}

.dropdown-trigger .btn {
    right: 0px;
}

.input-field {
    left: -120%;
    width: 180%;
}

.input-field input[type=search]{ height: 64px !important; }

.card {
    width: 100%;
    height: 200px;
    background: black;
    color: white;
    font-size: 30px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    width: 4%;
    padding: 5px;
}